@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500&display=swap");
.Home {
  height: 70vh;
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3%;
}

.Home .main {
  height: 100%;
  width: 35%;
}

.Home .main .next,
.Home .main .next2 {
  display: none;
}

.Home .main img {
  height: 90%;
  width: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.Home .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4%;
  height: 100%;
  padding: 5% 1% 0%;
}

.Home .right p {
  font-weight: 400;
  line-height: 1.6;
  color: darkslategray;
  font-family: "Kumbh Sans", sans-serif;
}

.Home .right h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2.9rem;
}

.Home .right .span1 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  font-weight: bolder;
}

.Home .right .span1 p {
  background: #ffdec6;
  font-size: 1rem;
  padding: 1.2%;
  color: orange;
  font-weight: bolder;
  border-radius: 10px;
  font-family: "Kumbh Sans", sans-serif;
}

.Home .right .span2 {
  text-decoration: line-through;
  color: #9a9a9a;
  font-size: 1.2rem;
  font-family: "Poppins";
}

.Home .right .span3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .right .span3 span {
  padding: 2.9% 8%;
  background: #f4f4ff;
  font-family: "Poppins";
  color: #ededff;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}

.Home .right .span3 button {
  padding: 3%;
  cursor: pointer;
  border: navajowhite;
  outline: none;
  background: #f4f4ff;
  font-weight: bolder;
  font-size: 1.5rem;
  color: orange;
}

.Home .right .span3 .button {
  margin-left: 10%;
  width: 50%;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
  -webkit-box-shadow: -1px 10px 7px 0px #fce2c1;
          box-shadow: -1px 10px 7px 0px #fce2c1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff7057), to(#fb9e25));
  background: linear-gradient(to bottom, #ff7057 5%, #fb9e25 100%);
  border-radius: 9px;
  border: 1px solid #eeb44f;
  font-size: 1rem;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
}

.Home .right .span3 .button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fb9e25), to(#ffc477));
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
}

.box {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
  gap: 8%;
}

.box img {
  height: 60% !important;
  width: 22% !important;
  border: 1px solid transparent;
  cursor: pointer;
}

.box img:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.clicked {
  border: 1px solid orange;
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
}

.modal .main {
  height: 112%;
  width: 91%;
  position: relative;
}

.modal .main .box {
  margin-top: 0%;
  width: 75%;
}

.modal .main img {
  height: 90%;
  width: 110%;
  -o-object-fit: cover;
     object-fit: cover;
}

.next,
.next2 {
  background-color: white;
  position: absolute;
  top: -4%;
  left: 1%;
  border-radius: 50%;
  font-size: 3rem;
  padding: 2%;
}

.next:hover,
.next2:hover {
  color: orange;
  cursor: pointer;
}

.next2 {
  left: 100%;
  color: white;
}

.span22 {
  display: none;
}

@media screen and (max-width: 500px) {
  .Home {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
  }
  .Home .main {
    width: 100%;
    position: relative;
  }
  .Home .main .next,
  .Home .main .next2 {
    display: block;
  }
  .Home .main .next {
    top: 45%;
    left: 1%;
  }
  .Home .main .next2 {
    top: 45%;
    color: black;
    left: 85%;
  }
  .Home .main .next2:hover {
    color: orange;
    cursor: pointer;
  }
  .Home .main img {
    border-radius: 0px;
  }
  .Home .main .box {
    display: none;
  }
  .Home .right {
    width: 100%;
    padding: 5% 10%;
    gap: 5%;
    height: 80vh;
  }
  .Home .right p {
    padding-right: 10%;
  }
  .Home .right h1 {
    font-size: 1.5rem;
  }
  .Home .right .span1 .span22 {
    display: block;
    text-decoration: line-through;
    color: gray;
    margin-left: 5%;
  }
  .Home .right .span2 {
    display: none;
  }
  .Home .right .span3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Home .right .span3 button {
    width: 35%;
  }
  .Home .right .span3 .button {
    width: 90%;
    margin-left: 0%;
    margin-top: 5%;
  }
  .modal {
    display: none;
  }
}
/*# sourceMappingURL=Home.css.map */