@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500&display=swap");

nav {
  width: 75%;
  display: flex;
  margin: auto;
  border-bottom: 1px solid rgb(182, 176, 176);
  height: 15vh;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;

    img {
      width: 35%;
    }
  }

  // .shownav {
  //   display: none;
  // }

  .hidenav {
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    margin-left: 20%;
    color: rgb(77, 75, 75);
    transition: 0.3s ease-in-out;
    li {
      position: relative;
      font-family: "Kumbh Sans", sans-serif;
      &:hover {
        cursor: pointer;
      }
    }

    li:hover::after {
      width: 100%;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
    li::after {
      content: "";
      position: absolute;
      top: 220%;
      left: 0;
      width: 0%;
      border-bottom: 5px solid #ec7207;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 25%;

    span {
      top: 3%;
      right: 18.5%;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #ff9000;
      position: absolute;
    }
    img {
      width: 40%;
      height: 40%;
      border-radius: 50%;
      border: 1px solid transparent;
      position: relative;
      &:hover {
        border: 1px solid orange;
        cursor: pointer;
      }
    }
  }
}

.cart {
  height: 37vh;
  width: 103%;
  position: absolute;
  left: 0%;
  top: -3%;
  background-color: white;
  box-shadow: 0px 3px 20px 0px black;
  border-radius: 10px;
  font-family: "Kumbh Sans", sans-serif;

  .mid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0 5%;
    p {
      color: #68707d;
    }
  }
  img {
    height: 60px;
    width: 60px;
  }
  h4 {
    border-bottom: 1px solid gray;
    padding: 7%;
    color: #68707d;
  }

  h5 {
    color: #68707d;
    padding-top: 5%;
  }
  span {
    color: #68707d;
  }
  button {
    width: 80%;
    margin: auto auto;
    display: flex;
    justify-content: center;
    box-shadow: -1px 10px 7px 0px #fce2c1;
    background: linear-gradient(to bottom, #ff7057 5%, #fb9e25 100%);
    // background-color: #ffc477;
    border-radius: 5px;
    border: 1px solid #eeb44f;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    padding: 4%;
  }
}
.ham {
  display: none;
}
.logo {
  position: relative;
}

@media screen and (max-width: 500px) {
  nav {
    .cancel {
      display: block;
      position: absolute;
      top: 10%;
    }

    width: 90%;
    position: relative;
    justify-content: space-between;
    border-bottom: none;
    .left {
      width: 60%;
      justify-content: space-between;
      img {
        width: 75%;
      }

      .shownav {
        position: absolute;
        height: 92vh;
        background-color: white;
        left: -10%;
        top: 0%;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 81%;
        gap: 5%;
        padding-left: 20%;
        transition: 0.5s ease-in-out;
      }

      .hidenav {
        position: absolute;
        height: 92vh;
        background-color: white;
        left: -200%;
        top: 0%;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 81%;
        gap: 5%;
        padding-left: 20%;
        transition: 0.5s ease-in-out;
      }
      .ham {
        display: block;
      }
    }
    .right {
      gap: 10%;
      justify-content: flex-end;

      img {
        width: 35%;
      }

      span {
        right: 14%;
        top: 18%;
      }
    }
  }
  .cart {
    height: 41vh;
    width: 85%;
    left: -17%;
    top: -3%;
    border-radius: 20px;
  }
}
